// Variables

// Color
$grey = #68626E
$purple = #6D36A0

// Fonts
$text-size = 1.2rem
$title-size = 2.5rem
$font-family = 'Montserrat', sans-serif
$text = $text-size $font-family
$title = $title-size $font-family
$littleScreen = 480px
$mediumScreen = 768px
$bigScreen = 1024px

::selection
    background-color rgba(109, 54, 160,0.5)


*
    margin 0
    padding 0
    // cursor none
    scroll-behavior smooth
    // user-select none

html
    font-size 16px
    @media all and (max-width: $bigScreen)
        font-size 11px
    @media all and (max-width: $littleScreen)
        font-size 8px

body
    overflow-x hidden
    overflow-y hidden
    .loading-container
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        z-index 20
        transition transform 1s ease-in
        transition-delay 3s
        display flex
        justify-content center
        align-items center
        &.disapear
            transform translateY(-100%)
        &.disapear::before
            transform translateY(-100%)
        &::before
            content ""
            position absolute
            width 100%
            height 100%
            background $purple
            transition transform 1s ease-in
            transition-delay 1s
        .loading
            position relative
            overflow-y hidden
            &.leave .text
                transform translateY(-100%)
                transition transform 1s ease-in
            .text
                font-size 3rem
                color white
                font-family $font-family
            .loader
                background-color #FFFFFF
                top 110%
                left 0
                right 0
                height 2px
                transform scaleX(0)
                transform-origin left
                transition transform 0.3s ease-in-out
                &.disapear
                    transition transform 1.5s ease-in-out
                    transform scaleX(0)
    #canvas
        position fixed
        top 0
        right 0
        left 0
        bottom 0
    &.appear
        overflow-y visible
    @media all and (max-width: $bigScreen)
        header 
            justify-content flex-end
            .content
               width 80%
    @media all and (max-width: $mediumScreen)
        main
            .project
                align-items center
                margin-bottom 20vw
                .img
                    width 80%
                .content
                    width 80%
            .project:nth-child(2n+1)
                flex-direction column
            .project:nth-child(2n)
                flex-direction column-reverse
        footer 
            width 80vw
    @media all and (max-width: $littleScreen)
        footer ul
            font-size 0.8rem
        .responsive>h1
            font-size 1.2rem

.responsive
    display none

.aside
    position fixed
    height 100vh
    left 2vw
    display flex
    flex-direction column
    justify-content center
    transform translateX(-100%)
    opacity 0
    transition all 0.7s
    z-index 10
    &.appear
        transform translateX(0)
        opacity 1
    img
        width 6vw
        position fixed
        top 5vh
    nav
        height 20%
        position relative
        // &::after
        //     content ""
        //     height 200%
        //     width 1px
        //     position absolute
        //     right -50%
        //     top -50%
        //     background $grey
        ul
            height 100%
            display flex
            flex-direction column
            list-style none
            justify-content space-between
            li
                padding-bottom 20px
                a
                    color $grey
                    text-decoration none
                    font $text
                    transition 0.5s
                    position relative
                    &::after
                        content ""
                        height 1px
                        width 30%
                        position absolute
                        left -2px
                        bottom -2px
                        transform translateX(-100%)
                        background $purple
                        opacity 0
                        transition all 0.3s
                    &:hover, &.active
                        color $purple
                        &::after
                            transform translateX(0)
                            opacity 1
.mouse
    position fixed
    width 50px
    height 50px
    border solid 0.5px black
    border-radius 100%
    z-index -1
    transition transform 0.1s
    &.hover
        transform scale(1.5)
        


header
    height 100vh
    width 100vw
    display flex
    justify-content center
    align-items center
    .curtain
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        transform translate(-10%, -10%)
        canvas
            display none
        &.visible
            display block
        &.no-curtain
            display block
    .content
        transform translateY(150%)
        opacity 0
        transition all 0.7s ease
        z-index 10
        h3
            color $purple
            font-family $font-family
            font-weight bold
            font-size 3.5rem
            text-align left
            margin-bottom 10px
        .text
            color $grey
            font $text
            display flex
            flex-direction row
            justify-content flex-start
            flex-wrap wrap
            width 80%
            h1, h2
                font $text
            a
                position relative
                text-decoration none
                color $purple
                &::after
                    content ""
                    position absolute
                    right 0
                    bottom 0
                    width 20%
                    height 1px
                    transform scaleX(1)
                    transform-origin left
                    transition 0.3s transform
                    background $purple
                &:hover::after                  
                    transform scaleX(0)
                    transform-origin right
        &.appear
            transform translateX(0)
            opacity 1
    canvas
        position absolute
        z-index -1
main
    margin-left 50px
    .project
        display flex
        flex-direction row
        justify-content space-between
        margin 20vw 5vw 20vw 10vw
        overflow visible
        transition all 0.5s ease-in-out
        &.right
            transform translateX(50%)
            @media all and (max-width: $littleScreen)
                transform translateX(100%)
        &.left
            transform translateX(-50%)
            @media all and (max-width: $littleScreen)
                transform translateX(-100%)
        &.appear
            transform translateX(0)
            .content
                opacity 1
        .img
            width 50%
            height 100%
            position relative
            text-align center
            text-decoration none
            overflow hidden
            align-self center
            display flex
            justify-content center
            align-items center
            img
                width 100%
                opacity 0
                &.no-curtain
                    opacity 1
                @media all and (max-width: $littleScreen)
                    opacity 1
            // &::after
            //     content ""
            //     position absolute
            //     left 0
            //     bottom 0
            //     width 100%
            //     height 100%
            //     background-color white
            //     opacity 0
            //     transition 0.3s
            //     will-change opacity
            // &:hover::after
            //     opacity 0.8
            // .imgTextDiv
            //     position absolute
            //     z-index 10
            //     width 100%
            //     overflow hidden
            //     .imgText
            //         text-transform uppercase
            //         color $purple
            //         font-size 1.5rem
            //         font-family $font-family
            //         z-index 10
            //         transform translateY(100%) skewY(3deg)
            //         transition 0.3s
            // &:hover .imgTextDiv .imgText
            //     transform translateY(0) skewY(0)
        .content
            display flex
            flex-direction: column
            width 40%
            transition all 0.5s ease-in-out
            transition-delay 0.5s
            opacity 0
            h3
                font-size 6rem
                font-family $font-family
                position relative
                width fit-content
                &::after
                    content ""
                    position absolute
                    width 100%
                    height 10%
                    background-color $purple
                    bottom 15%
                    left 0
                    opacity 0.5
                    z-index -1
            .text
                width 95%
                margin-top 5vh
                position relative
                @media all and (max-width: $littleScreen)
                    margin-top 2vh
                h2
                    font $title
                    font-weight 600
                p
                    font $text
                    padding-top 2vh
                    @media all and (max-width: $littleScreen)
                        line-height 20px
                        font-size 15px
                a
                    color black
                    text-decoration none
                    font $text
                    text-transform uppercase
                    margin-top 5%
                    position absolute
    // .casestudy
    //     position fixed
    //     width 40vw
    //     height 100vh
    //     top 0
    //     right 0
    //     bottom 0
    //     background-color $purple
    //     transform translateX(100%)
    //     transition transform 0.3s ease-out
    //     will-change transform
    //     display flex
    //     flex-direction column
    //     justify-content center
    //     z-index 40
    //     &.open
    //         transform translateX(0)
    //     .info
    //         width 80%
    //         margin 2% auto
    //         h3
    //             font-family $font-family
    //             font-size 1.5rem
    //             color $purple
    //             margin-bottom 2%
    //             color white
    //         p
    //             font $text
    //             color white
    //             font-size 1rem
    //             color white
    //         a.project_link
    //             position relative
    //             font-weight bold
    //             font-size 1.5rem
    //             color white
    //             text-decoration none
    //             font-family $font-family
    //             &::after
    //                 content ""
    //                 position absolute
    //                 right 0
    //                 bottom 0
    //                 width 20%
    //                 height 1px
    //                 transform scaleX(1)
    //                 transform-origin left
    //                 transition 0.3s transform
    //                 background white
    //             &:hover::after                  
    //                 transform scaleX(0)
    //                 transform-origin right
        // .close
        //     position absolute
        //     top 20px
        //     right 20px
        //     cursor pointer
        //     width 30px
        //     height 30px
        //     &::after
        //         content ""
        //         position absolute
        //         right 15px
        //         width 1px
        //         height 30px
        //         background-color #fff
        //         transform rotate(45deg)
        //         transition transform 0.3s ease 
        //         will-change transform
        //     &::before
        //         content ""
        //         position absolute
        //         right 15px
        //         width 1px
        //         height 30px
        //         background-color #fff
        //         transform rotate(-45deg)
        //         transition transform 0.3s ease 
        //         will-change transform
        //     &:hover::after
        //         transform rotate(-45deg)
        //     &:hover::before
        //         transform rotate(45deg)
footer 
    margin 0 auto
    width 60vw
    ul
        font $text
        display flex
        flex-direction row
        justify-content space-between
        list-style none
        width 100%
        li
            a
                text-decoration none
                color #000
                position relative
    
    p
        margin 5vh 0
        font-family $font-family
        color $grey
        font-size 0.8rem
        text-align center

.link
    &::after
        content ""
        width 30%
        height 2px
        position absolute
        bottom 0
        left 0
        background-color $purple
        transform scaleX(0.2)
        transform-origin left
        transition transform 0.3s
        will-change transform
    &:hover::after
        transform scaleX(1)

.caselink
    cursor pointer